<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>67647405355-6gq2g2ugvff9nor3dqufv08si099fteb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.67647405355-6gq2g2ugvff9nor3dqufv08si099fteb</string>
	<key>API_KEY</key>
	<string>AIzaSyClna7lF7_HyJueYmMEI9A5tfZ1Ccbl2jQ</string>
	<key>GCM_SENDER_ID</key>
	<string>67647405355</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aztech.reselltopia</string>
	<key>PROJECT_ID</key>
	<string>reselltopia</string>
	<key>STORAGE_BUCKET</key>
	<string>reselltopia.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:67647405355:ios:49e62c7fa4b40693</string>
	<key>DATABASE_URL</key>
	<string>https://reselltopia.firebaseio.com</string>
</dict>
</plist>